<header class="site-header" role="banner">

  <div class="wrapper">
    <div class="header-left">
      <a class="site-title" href="{{ site.baseurl }}/" ><span class="site-name">{{ site.title }}</span></a>

      <div class="site-subtitle">
          Front End Developer@<a href="http://www.icfi.com/interactive" class="expanding-link" title="ICF Interactive" target="_blank"><span data-expanding-text="&nbsp;">ICF</span><span data-expanding-text="nteractive">I</span></a><br />
          Web Developer@<a href="http://importimageracing.com/" class="expanding-link" title="Import Image Racing" target="_blank"><span data-expanding-text="mport&nbsp;">I</span><span data-expanding-text="mage&nbsp;">I</span><span data-expanding-text="acing">R</span></a></div>

      <div class="site-social">
        {% include components/social-list.html %}
      </div>

    </div>

    <div class="site-nav">
      <a href="/about/" class="page-link" rel="author" title="About {{ site.title }}">About</a>

      <button class="menu-icon page-link js-expand" data-expand="body">
        <span class="burger"></span>
        <span class="burger"></span>
        <span class="burger"></span>
      </button>
    </div>
  </div>

</header>

{% include components/category-nav.html %}
