<header class="site-header" role="banner">

  <div class="wrapper">
    <div class="header-left">
      <a class="site-title" href="{{ site.baseurl }}/" ><span class="site-name">{{ site.title }}</span></a>

      <div class="site-subtitle">
          Senior Front End Developer@<a href="http://www.icfolson.com/" class="expanding-link" title="ICF Olson" target="_blank"><span data-expanding-text="&nbsp;">ICF</span><span data-expanding-text="Olson"></span></a><br />
          <!--Aspiring Indie Game Developer -->
        <div class="site-social">
          {% include components/social-list.html %}
        </div>
      </div>
    </div>

    <div class="site-nav">
      <a href="/about/" class="page-link" rel="author" title="About {{ site.title }}">About</a>
      <a href="http://mattbengston.com" class="page-link" title="View my Portfolio">Portfolio</a>
      <button class="menu-icon page-link js-expand" data-expand="body">
        <span class="burger"></span>
        <span class="burger"></span>
        <span class="burger"></span>
      </button>
    </div>
  </div>

</header>

{% include components/category-nav.html %}
