/**
 * Post Feature Header
 */

.feature-header {
    position: relative;
    overflow: hidden;
    background: #000;

    .post-title {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        color: #fff;
        text-shadow: 1px 1px 0px rgba(0,0,0,0.55);
        z-index: 20;
        @extend .wrapper;
        @include media-query($on-laptop) { font-size: 32px; }
        @include media-query($on-palm ) { font-size: 27px; }
    }

    &:after {
        content: " ";
        width: 100%;
        height: 150px;
        position: absolute;
        bottom: -1px;
        left: 0;
        right: 0;
        background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.35) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.35))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.35) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.35) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.35) 100%); /* IE10+ */
        background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.35) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#40000000',GradientType=0 ); /* IE6-9 */
        z-index: 10;
    }
}

.post-header,
.feature-header {
  &+.excerpt {
    padding: ($spacing-unit / 2) 0 $spacing-unit;
    margin-bottom: $spacing-unit / 2;
    color: #fff;
    background-color: $brand-blue-color;

    .post-date,
    .post-reading-time {
        display: inline-block;
        color: #dedede;
        margin-bottom: 8px;
        font-size: 0.75em;
    }

    .post-date {
      margin-right: 1em;
    }

    .icon-stopwatch {
      position: relative;
      top: 1px;
      width: 16px;
      height: 16px;
    }
  }
}

.js-scroll-offset {
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  transition: transform 0.1s;
}
