---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Normalize and set up fonts before setting any styles
@import
  "vendor/normalize",
  "fonts"
;

/** Fonts
 * Headlines: 36px Bree Serif
 * Body: 16px Oxygen
 */

// Font variables
$base-font-family:		"Oxygen", Helvetica, Arial, sans-serif;
$base-font-size:		16px;
$small-font-size:		$base-font-size * 0.875; // ~14px
$base-line-height: 		1.5;

$headline-font-family:	"Bree Serif", "Times New Roman", serif;
$h1-size: 				floor($base-font-size * 2.3); // ~36px
$h2-size: 				$base-font-size * 2; // ~32px
$h3-size: 				floor($base-font-size * 1.8); // ~28px
$h4-size: 				ceil($base-font-size * 1.3); // ~21px
$h5-size: 				floor($base-font-size * 1.15); // ~18px

$code-font-family:		"Inconsolata", monospace;

$spacing-unit:			30px;

$text-color:			    #111;
$background-color:		#fdfdfd;
$brand-blue-color:		#2a7ae2;
$brand-subtle-blue:		#7bc5ef;
$brand-green:         #19E1AF;
$brand-yellow:        #FFCF1C;
$brand-orange:        #FF701C;
$brand-color:         #32b9fc;
$brand-warning:       #fc3232;

$grey-color:          #828282;
$grey-color-light:		lighten($grey-color, 40%);
$grey-color-dark:     darken($grey-color, 25%);

// Width of the content area
$content-width:			700px;

$on-phone:        480px;
$on-palm:         600px;
$on-laptop:			  800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@mixin media-off($device) {
  @media screen and (min-width: $device) {
    @content;
  }
}

@mixin inner-shadow($start, $finish, $start-ie: #ebebeb, $finish-ie: #f8f8f8) {

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&amp;0.65+0,0+100;Neutral+Density */
  background: -moz-linear-gradient(left,  $start 0%, $finish 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,$start), color-stop(100%,$finish)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  $start 0%,$finish 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  $start 0%,$finish 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  $start 0%,$finish 100%); /* IE10+ */
  background: linear-gradient(to right,  $start 0%,$finish 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$start-ie', endColorstr='$finish-ie',GradientType=1 ); /* IE6-9 */
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting",
        "typography",
        "components"
;
