<div id="disqus_thread"></div>
<script type="text/javascript">
    /** CONFIGURATION VARIABLES */
    var disqus_shortname = 'aesinv',
        disqus_title = '{{ page.title }}',
        disqus_identifier = '{{ page.url }}',
        disqus_url = '{{ site.url }}{{ page.url }}';
    // var disqus_category_id = ;
    /**
     * Possible ID's (need to build an if statement and other var * for this):
     * General (3860045)
     * Cars(3863770)
     * Life (3863771)
     * Web Development (3863772)
     * Car Modifying (3863767)
     * Food (3863768)
     * Traveling (id: 3863769)
     */

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
