<meta itemprop="datePublished" content={{ page.date | date: "%Y-%m-%dT%Rz" }} />
<div class="{% if page.feature %}feature-header{% else %}post-header{% endif %}">
    {% unless page.feature %}<div class="wrapper">{% endunless %}
        <h1 class="post-title" itemprop="headline">{{ page.title }}</h1>
        {% if page.feature %}
            {% if page.featureico %}
              <meta itemprop="thumbnailUrl" content="{{ site.url }}/img/{{ page.feature }}" />
            {% endif %}
            {% assign featureOffset = '' %}
            {% if page.featureOffset %}
                {% capture featureOffset %}style="position: relative; top: {{page.featureOffset}}"{% endcapture %}
            {% endif %}

            {% if page.featureIsVideo %}
                <video class="post-feature feature-video js-scroll-offset" data-distance="150" poster="/img/{{ page.feature }}" autoplay="" muted="" loop="" {{ featureOffset }}>
                    <source src="/img/videos/{{ page.featureVidSlugs }}.webm" type="video/webm">
                    <source src="/img/videos/{{ page.featureVidSlugs }}.mp4" type="video/mp4">
                    Sorry, your browser doesn't support HTML5 video.
              </video>
            {% else %}
                <img class="post-feature js-scroll-offset" src="/img/{{ page.feature }}" data-distance="150" alt="{{ page.featurealt }}" {{ featureOffset }} itemprop="image" />
            {% endif %}
        {% else %}
          <meta itemprop="thumbnailUrl" content="{{ site.url }}/img/headshot-thumb.png" />
          <meta itemprop="image" content="{{ site.url }}/img/headshot-hi-res.png" />
        {% endif %}
    {% unless page.feature %}</div>{% endunless %}
</div>

<div class="excerpt">
    <div class="wrapper">
        <span class="post-date">{{ page.date | date: "%A, %B %-d, %Y" }}</span> <span class="post-reading-time">{% include svg/stopwatch.svg %} Estimated reading time: {{ page.content | reading_time }}</span>
        <p itemprop="description">{{ page.excerpt }}</p>
    </div>
</div>
